:root {
  --branding-color: #eb5200;
  --secondary-color: #ffecea;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #c2cdff;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--branding-color);
  padding: 335px 20px;
  height: 100%;
}

.hero p {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.hero h2 {
  font-size: 20px;
}

footer {
  margin: 30px 0;
  text-align: center;
  color: #424790;
}

.btn-branding {
  border: 2px solid var(--branding-color);
  border-radius: 30px;
  box-shadow: var(--branding-color) 4px 4px 0 0;
  color: var(--branding-color);
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-branding:hover {
  background-color: var(--branding-color);
  box-shadow: none;
  color: var(--secondary-color);
}

.btn-alt {
  border: 2px solid #f1a8c6;
  border-radius: 30px;
  box-shadow: #f1a8c6 4px 4px 0 0;
  color: #f1a8c6;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-alt:hover {
  background-color: #f1a8c6;
  box-shadow: none;
  color: var(--branding-color);
}

.projects {
  background-color: var(--branding-color);
  padding: 60px 20px 120px;
  height: 100%;
}

.projects h2 {
  font-size: 40px;
  color: #f1a8c6;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 20px;
}

img {
  opacity: 90%;
  border-radius: 5px 5px 0px 0px;
}

.project-description {
  background-color: var(--secondary-color);
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
}
.project-language {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--branding-color);
  color: var(--secondary-color);
  padding: 3px 16px;
  margin-bottom: 16px;
  display: inline-block;
}

.project-title h3 {
  font-size: 20px;
  font-weight: 600;
}

.project-description p {
  font-size: 14x;
}

.project-link-container {
  text-align: center;
  margin-top: 16px;
}

.project-link {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #f1a8c6;
  color: #ffecea;
  padding: 3px 16px;
  border-radius: 30px;
}

.project-link:hover {
  color: #eb5200;
  text-decoration: none;
}
.scalloped-box {
  --r: 25px; /* radius of circles */
  height: 320px;
  aspect-ratio: 1;
  padding: calc(1.5 * var(--r));
  background: var(--branding-color);
  mask: linear-gradient(#000 0 0) no-repeat 50% / calc(100% - 2 * var(--r))
      calc(100% - 2 * var(--r)),
    radial-gradient(farthest-side, #000 97%, #0000) 0 0 / calc(2 * var(--r))
      calc(2 * var(--r)) round;
}

.about-section {
  color: var(--secondary-color);
}

.about-section h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
}

.about-section p {
  font-size: 20px;
  color: #424790;
}

.about-section a {
  color: var(--branding-color);
}

.about-section a:hover {
  color: var(--branding-color);
}

.contact {
  padding: 60px 20px;
  height: 100%;
  text-align: center;
  background-color: #c2cdff;
  color: var(--secondary-color);
}

.contact h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
}

.contact p {
  color: #424790;
}

.email-link {
  color: #424790;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}

.email-link :hover {
  color: #424790;
}

.contact-links {
  margin: 0 auto;
  width: 600px;
  padding: 40px;
}

.cv-link {
  display: block;
}

.social-links {
  display: block;
}

.creator-links {
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0;
}

.creator-links a {
  color: var(--branding-color);
}
